In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

In [2]:
sns.set_style('darkgrid')
sns.set_context('talk')

In [4]:
df_rat = pd.read_csv("ratings_small.csv", usecols=['userId', 'movieId', 'rating'])
df_rat.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0