In [3]:
import pandas as pd
import numpy as np

In [5]:
df_movies = pd.read_csv('movies_metadata.csv', usecols=['id', 'title'])
df_ratings = pd.read_csv('ratings_small.csv', usecols=['userId', 'movieId', 'rating'], dtype={'userId': np.int32, 'movieId': np.int32, 'rating': np.float32})

In [16]:
df_movies.drop(df_movies[df_movies.id.str.isnumeric() == False].index, inplace=True)
df_movies.id = df_movies.id.astype(np.int32)

In [24]:
df_links = pd.read_csv("links_small.csv", usecols=['movieId', 'tmdbId'])

In [25]:
df_links.dropna(inplace=True)

In [27]:
df_links.movieId = df_links.movieId.astype(np.int32)
df_links.tmdbId = df_links.tmdbId.astype(np.int32)

In [28]:
def movieId_to_title(movieId):
    tmdbId = df_links[df_links.movieId == movieId].tmdbId
    movie_title = df_movies.set_index('id').loc[tmdbId]
    return movie_title

def title_to_movieId(movie_title):
    tmdbId = df_movies[df_movies.title == movie_title].id
    movieId = df_links[df_links.tmdbId == tmdbId].movieId
    return movie_idx.index

In [46]:
df_ratings.movieId.unique().size

9066

In [53]:
set(df_ratings.movieId.unique()) - set(df_links.movieId.unique())

{720,
 721,
 769,
 1133,
 2851,
 4051,
 26587,
 72781,
 73759,
 79299,
 94466,
 108548,
 108583}

In [55]:
df_ratings[df_ratings.movieId == 694]

       userId  movieId  rating
9693       67      694     3.0
9965       70      694     5.0
10354      73      694     3.0
38805     284      694     2.0
43518     311      694     2.5
54589     390      694     1.0
57240     413      694     3.0
62792     453      694     2.0
72220     507      694     3.0
97107     650      694     4.0

In [ ]:
from scikitlear